* {
  box-sizing: border-box;
}

html {
  font-family: 'Jost';
  font-size: 16px;
}

@font-face {
  font-family: 'Jost';
  src: url("../fonts/Jost/Jost-VariableFont_wght.ttf") format('ttf');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
  }

.body {
  font-family: 'Jost';
}


.container {
  margin: 0 auto;
  max-width: 86.25rem;
}

.section {
  margin: 0 1.875rem 0 1.875rem;
  max-width: 86.25rem;
}


.navbar {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  height: 9.375rem;
  
  left: 0;
  top: 0;
  z-index: 2;
  width: 69.375rem;
  margin-right: 10.3125rem;
  margin-left: 10.3125rem;
}

.header-top {
  width: 100%;
  height: 2.4375rem;
  display: flex;
  align-items: center;
  gap: 36rem;
}

.header-bottom {
  height: 6.375rem;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 25px;
}

.header-logo {
width: 114px;
height: 40px;
color: rgb(40, 39, 57);
font-family: 'Jost';
font-size: 30px;
font-weight: 700;
line-height: 43px;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
text-decoration: none;
}

.navbar-button {
width: 114px;
height: 2.5rem;
border: 1.5px solid rgb(111, 115, 238);
border-radius: 5px;
background: rgb(111, 115, 238);
display: flex;
gap: 13px;
align-items: center;

}

.button-lines {
  width: 13px;
}

.button-line {
  background: rgb(255, 255, 255);
  width: 100%;
  height: 2px;
  margin-bottom: 5px;
}

.button-line:last-child {
  background: rgb(255, 255, 255);
  width: 60%;
  height: 2px;
  display: block;
}

.button-text {
  color: rgb(255, 255, 255);
  font-family: 'Jost';
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}


.header-search {
  position: relative;
  width: 603px;
}

.search {
  width: 100%;
  height: 40px;
  border: 1.5px solid rgb(111, 115, 238);
  border-radius: 5px;
  outline: none;
  background: inherit;
  color: rgb(93, 108, 123);
  padding-left: 20px;
}
.search-button {
  position: absolute; 
  top: 0;
  right: 0px;
  width: 40px;
  height: 40px;
  border: none;
  background: rgb(111, 115, 238);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  padding-top: 6px;
}

.header-nav {
  display: flex;
  gap: 1.875rem;
  align-items: center;
  justify-content: start;
  padding: 0;
  list-style: none;
}

.header-nav-icon {
  display: flex;
  align-items: center;
  text-decoration: none;

}

.header-nav-link {
  text-decoration: none;
  color: rgb(93, 108, 123);
  font-family: 'Jost';
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  align-items: center;
}

.header-nav-icons {
  display: flex;
  gap: .75rem;
  justify-content: center;
  align-items: center;
}


.icon-text {
  color: rgb(40, 39, 57);
  font-family: 'Jost';
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-left: 9px;
}

.header-phone-link {
color: rgb(40, 39, 57);
font-family: Jost;
font-size: 12px;
font-weight: 400;
line-height: 17px;
text-decoration: none;
}


.no-webp .header-image {
  background-image: url("../");
}

.header {
  margin: 0rem 1.875rem 4.5rem 1.875rem;
  height: 445px;
  max-width: 1380px;
  border-radius: 10px;
}

.header-image {
  background-image: url("../img/header_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}

.header-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 10px;
  background: linear-gradient(73.78deg, rgb(111, 115, 238) 24.368%,rgba(111, 115, 238, 0) 67.018%);
}

.header-content {
  padding-top: 3.5rem;
  padding-left: 8.5rem;
  position: relative;
  z-index: 1;
  color: #fff;
  max-width: 48.375rem;
 }

.header-subtitle {
  width: 372px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.location {
  display: flex;
  align-items: center;
  width: 13.375rem;
color: rgb(255, 255, 255);
font-family: 'Jost';
font-size: 12px;
font-weight: 400;
line-height: 17px;
text-decoration: none;
}

.work-time {
  display: flex;
  align-items: center;
  max-width: 8.9375rem;
color: rgb(255, 255, 255);
font-family: 'Jost';
font-size: 14px;
font-weight: 400;
line-height: 18px;
}

 .header-title {
  max-width: 39.25rem;
  font-family: 'Jost';
  font-size: 2.1875rem;
  color: rgb(255, 255, 255);
  line-height: 51px;
  margin: 1.375rem 0 0 0;
  text-transform: uppercase;
 }

 .header-text {
  max-width: 22.5625rem;
  color: rgb(255, 255, 255);
  font-family: 'Jost';
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.4px;
  margin-bottom: 2rem;
 }

 .header-features {
  display: flex;
  min-height: 2.5rem;
  padding: 0;
  list-style: none;
  color: #fff;
  position: relative;
  margin-bottom: 2.3rem;
  gap: 48px;
 }

 .header-features-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 11.8125rem;
  gap: 14px;
 }

 .header-features-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: rgb(255, 255, 255, 0.4);
  
  border-radius: 5px;
  flex-shrink: 0;
 
 }


.header-features-text {
color: rgb(255, 255, 255);
font-family: Jost;
font-size: 14px;
font-weight: 400;
line-height: 18px;
}

.header-button {
padding: 15px 40px 15px 40px;
border-radius: 5px;
border: none;
color: rgb(111, 115, 238);
font-family: 'Jost';
font-size: 16px;
font-weight: 400;
line-height: 23px;
 }

 .section-practice {
  margin-bottom: 8.25rem;
  position: relative;
 }

.section-content {
  margin-left: 8.5rem;
  max-width: 40.3125rem;
}

.section-title {
 margin-top: 0;
color: rgb(40, 39, 57);
font-family: 'Jost';
font-size: 35px;
font-weight: 600;
line-height: 51px;
text-align: left;
text-transform: uppercase;
padding-top: 1.8rem;
}

.section-subtitle{
color: rgb(40, 39, 57);
font-family: 'Jost';
font-size: 20px;
font-weight: 400;
line-height: 29px;
}

.test-drive-list{
  font-size: 18px;
  list-style: none;
  padding-left: 0;
}

.test-drive-item {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 1rem;
}

.test-drive-picture {
  position: absolute;
  top: 0;
  right: 0;
  width: 515px;
height: 422px;
  border-radius: 5px;
}

.section-learn-driving {
  display: flex;
  gap: 6rem;
  margin-bottom: 6.25rem;
}

.learn-drive-picture {
border-radius: 5px;
  width: 515px;
height: 463px;

}

.section-learn-content {
  max-width: 40.3125rem;
}

.section-catalog {
  margin-bottom: 6.1875rem;
}

.section-title-catalog {
  max-width: 45.75rem;
  margin: auto;
  padding-top: 0;
  text-align: center;
  margin-bottom: 3.125rem;
}

.catalog-wrapper {
  max-width: 69.375rem;
  margin: auto;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  width: 255px;
  height: 492px;
  border: 1.5px solid rgb(234, 235, 237);
border-radius: 10px;
}

.card-picture {
  width: 100%;
  height: 14.375rem;
  background-color:rgb(240, 241, 245);
  margin-bottom: 1.3rem;
}

.card-image {
  width: 15.125rem;
  height: 11.375rem;
}

.card-features {
 max-width: 14.825rem;
 display: flex;
 align-items: end;
 justify-content: space-between;
 padding-left: 10px;
 padding-top: 10px;
}

.sale {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
height: 25px;
border-radius: 5px;
background: rgb(238, 104, 95);
}

.new {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
height: 25px;
border-radius: 5px;
background: rgb(117, 209, 74);
}

.sale-text {
  color: rgb(255, 255, 255);
font-family: 'Jost';
font-size: 12px;
font-weight: 400;
line-height: 17px;
text-transform: uppercase;
}

.new-text {
  color: rgb(255, 255, 255);
font-family: 'Jost';
font-size: 12px;
font-weight: 400;
line-height: 17px;
}

.card-content {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.card-title {
  color: rgb(40, 39, 57);
font-family: 'Jost';
font-size: 18px;
font-weight: 600;
line-height: 26px;
margin-bottom: 1.4rem;
}

.card-content-features {
display: flex;
flex-wrap: wrap;
gap: 23px;
}

.card-content-features-item {
display: flex;
margin-bottom: 1rem;
}

.content-text {
color: rgb(93, 108, 123);
font-family: 'Roboto';
font-size: 14px;
font-weight: 400;
line-height: 16px;
}

.card-icon {
  margin-right: 10px;
}

.price-area {
  display: flex;
  gap: 25px;
  margin-bottom: 1.1rem;
  align-items: end;
}

.price-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 90px;
}

.old-price {
color: rgb(93, 108, 123);
font-family: 'Jost';
font-size: 12px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: line-through;
}

.price {
color: rgb(40, 39, 57);
font-family: Jost;
font-size: 20px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}

.price-icons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.price-icon-frame {
  border: 3px solid rgb(234, 235, 237);
  width: 40px;
  height: 40px;
  border-radius: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-button {
color: rgb(255, 255, 255);
font-family: Jost;
font-size: 12px;
font-weight: 400;
line-height: 17px;
border-radius: 5px;
background: rgb(111, 115, 238);
border: none;
width: 100%;
padding: 10px;
cursor: pointer;
}

.section-grey {
margin: 0 1.875rem 6.25rem 1.875rem;
max-width: 86.25rem;
border-radius: 10px;
background: rgb(244, 247, 251);
height: 445px;
position: relative;
}

.section-grey-content {
max-width: 69.375rem;
margin: auto;
}

.cta-form-wrapper {
  max-width: 38.3125rem;
  padding-top: 2rem;
}

.section-title-grey {
color: rgb(40, 39, 57);
font-family: 'Jost';
font-size: 35px;
font-weight: 600;
line-height: 51px;
text-transform: uppercase;
margin-top: 3.6rem;
margin-bottom: 2rem;
}

.section-subtitle-grey {
  color: rgb(40, 39, 57);
font-family: 'Jost';
font-size: 16px;
font-weight: 400;
line-height: 23px;
margin-top: 0;
margin-bottom: 22px;
}

.input-group-wrapper {
  max-width: 33.8125rem;
  display: flex;
  gap: 20px;
  margin-bottom: 1.2rem;
}

.cta-form-button {
  height: 3.3125rem;
border-radius: 5px;
padding: 15px 25px;
background: rgb(111, 115, 238);
border: none;
color: rgb(255, 255, 255);
font-family: 'Jost';
font-size: 16px;
font-weight: 400;
line-height: 23px;
}

.input-phone-mask {
  border-radius: 5px;
  padding-right: 25px;
  width: 16.4375rem;
  height: 3.3125rem;
  outline: none;
  border: 1px solid rgb(234, 235, 237);
  padding-left: 30px;
}

.checkbox-wrapper {
  max-width: 20.9375rem;
}

.check-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.check-text {
color: rgb(40, 39, 57);
font-family: Jost;
font-size: 12px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0%;
}

.check-input+label {
  display: flex;
  max-width: 20.9375rem;
  align-items: center;
  user-select: none;
}
.check-input+label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgb(234, 235, 237);
  border-radius: 2px;
  margin-right: 12px;
  background-color:#fff;
  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.check-input:checked+label::before {
  background-color:#fff;
  background-image: url(../img/check.svg);
}

.cta-image {
position: absolute;
bottom: 0;
right: 181px;
}

.footer {
  max-width: 90rem;
}
.footer-top {
width: 100%;
height: 6.225rem;
background: rgb(111, 115, 238);
padding-top: 1.525rem;
margin-bottom: 1.9375rem;
}

.footer-top-content {
  max-width: 69.375rem;
  margin: auto;
  display: flex;
  gap: 100px;
}

.footer-offer {
  max-width: 27.8125rem;
color: rgb(255, 255, 255);
font-family: 'Jost';
font-size: 18px;
font-weight: 600;
line-height: 26px;
text-transform: uppercase;
margin: 0;
}

.input-form-wrapper {
  max-width: 35.625rem;
  display: flex;
  gap: 1.25rem;
}
.input-email {
  width: 25.625rem;
  height: 3.3125rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);
font-family: 'Jost';
font-size: 16px;
font-weight: 400;
line-height: 23px;
padding-left: 30px;
}

.input-email::placeholder {
color: rgb(255, 255, 255);
font-family: 'Jost';
font-size: 16px;
font-weight: 400;
line-height: 23px;
}

.footer-form-button {
width: 140px;
height: 53px;
border: none;
border-radius: 5px;
background: rgb(255, 255, 255);
color: rgb(111, 115, 238);
font-family:'Jost';
font-size: 16px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0%;
cursor: pointer;
}

.footer-bottom-content {
  max-width: 69.375rem;
  margin: auto;
  display: flex;
  
}

.menu-wrapper-second {
  margin-left: 8rem;
}

.menu-wrapper-third {
  margin-left: 7rem;
}

.footer-menu-title {
color: rgb(40, 39, 57);
font-family: 'Jost';
font-size: 18px;
font-weight: 400;
line-height: 26px;
}

.footer-menu-item {
  list-style: none;
  margin-bottom: 0.6rem;
}

.footer-menu-list {
  padding-left: 0;
}

.footer-menu-link {
color: rgb(93, 108, 123);
font-family: Jost;
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-decoration: none;
}

.footer-menu-column-2 {
  columns: 6.25rem auto;
  min-width: 15.875rem;

}

.contacts-wrapper {
  display: flex;
  gap: 45px;
}

.contacts-item-title {
color: rgb(40, 39, 57);
font-family: 'Jost';
font-size: 12px;
font-weight: 400;
line-height: 17px;
margin-top: 0;
margin-bottom: 0.4rem;
}

.footer-phone {
color: rgb(40, 39, 57);
font-family: Jost;
font-size: 16px;
font-weight: 400;
line-height: 23px;
text-decoration: none;
}

.work-time {
color: rgb(93, 108, 123);
font-family: 'Jost';
font-size: 12px;
font-weight: 400;
line-height: 17px;
}

.footer-call {
color: rgb(111, 115, 238);
font-family: 'Jost';
font-size: 12px;
font-weight: 400;
line-height: 17px;
text-decoration: none;
margin-left: 5.6rem;
margin-top: 1.1rem;
}

.footer-bottom {
  margin-bottom: 3.3rem;
}

.footer-hr {
  max-width: 69.375rem;
  height: 1px; 
  color: solid rgb(93, 108, 123);
}

.footer-social {
  max-width: 69.375rem;
  margin: auto;
  height: 115px;
}

